 {% extends 'ecopoints/base.html' %}
 {% load staticfiles %}

 {% block title_block %}
 Login
 {% endblock %}

 {% block body_block %}
     <div class="container">
         <div class="row">
             <div class="col d-flex justify-content-center align-items-center" style="height: 100vh;">
                 <div style="width: 300px; height: auto;">
                     <h1 class="text-center mb-4" style="color: var(--bs-primary);">Login</h1>
                    <form class="form-signin" role="form" method="post" action=".">
                    {% csrf_token %}
                    <label for="inputUsername" class="sr-only" style="color: var(--bs-secondary);">Username</label>
                    <input type="text" name="username" id="id_username" class="form-control"
                        placeholder="Username" required autofocus> <br />
                    <label for="inputPassword" class="sr-only" style="color: var(--bs-secondary);">Password</label>
                    <input type="password" name="password" id="id_password" class="form-control"
                        placeholder="Password" required>
                     <br />
                     <div class="d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-lg btn-primary btn-block" type="submit"
                                    value="Submit">Sign in</button>
                     </div>
                     <br />
                     <div class="text-center">
                        <strong>Not registered?</strong>
                         <br />
                        <a href="{% url 'registration_register' %}" style="color: var(--bs-secondary);">Register here!</a>
                     </div>
                    </form>
                 </div>
             </div>
         </div>
     </div>
 {% endblock %}
