<!DOCTYPE html>
{% load staticfiles %}
{% load ecopoints_template_tags %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            ecopoints -
            {% block title_block %}
            {% endblock %}
        </title>
        {% load compress %}
        {% compress css %}
            <link rel="stylesheet" type="text/scss" href="{% static '/scss/custom.scss' %}">
        {% endcompress %}
        <link rel="stylesheet" href="{% static 'css/index.css' %}" />
        <link rel="stylesheet" href="{% static 'css/components/index.css' %}" />
        {% block head_block %}
        {% endblock %}
    </head>
    <body data-bs-theme="dark">
        <nav class="navbar bg-body-secondary">
            <div class="container container-fluid">
                <div>
                    <a class="navbar-brand me-5">
                        <img class="nav__logo" src="{% static 'images/ecopoints_rainbow.png' %}" alt="ecopoints logo" />
                    </a>
                    <a href="{% url 'ecopoints:insights' %}" class="me-3">Insights</a>
                    <a href="{% url 'ecopoints:dashboard' %}">Dashboard</a>
                </div>
                {% if user.is_authenticated %}
                    <button class="btn btn-primary d-flex" type="button">Logout</button>
                {% else %}
                    <button class="btn btn-primary d-flex" type="button">Login</button>
                {% endif %}
            </div>
        </nav>
        <div class="container">
            {% block body_block %}
                <div style="display: flex; justify-content: center; align-items: center; flex-direction: column">
                    <img src="{% static 'images/ecopoints_rainbow.png' %}" alt="ecopoints logo" />
                    <hr />
                </div>
            {% endblock %}
        </div>
        <div>
            {% block sidebar_block %}
            {% endblock %}
        </div>
        <hr />
        <div>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'ecopoints:insights' %}">Insights</a></li>
                    <li><a href="{% url 'auth_logout' %}?next={% url 'ecopoints:index' %}">Logout</a></li>
                {% else %}
                    <!---show when not logged in-->
                    <li><a href="{% url 'registration_register' %}">Register</a></li>
                    <li><a href="{% url 'auth_login' %}">Login</a></li>
                {% endif %}
                <!--always show-->
                <li><a href="{% url 'ecopoints:index' %}">Home</a></li>
            </ul>
        </div>
    <script src ="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            crossorigin="anonymous"></script>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
            crossorigin="anonymous"></script>
    <script type="module" src="{% static 'js/components/index.js' %}"></script>
    {% block scripts_block %}
    {% endblock %}
</html>
