{% load staticfiles %}
{% load ecopoints_template_tags %}

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title_block %}
        EcoPoints
      {% endblock %}
    </title>
  </head>
  <body>
    <nav>
      <a href="{% url 'ecopoints:insights' %}">Insights</a>
      <a href="{% url 'ecopoints:dashboard' %}">Dashboard</a>
    </nav>
    {% block body_block %}
      <div style="display: flex; justify-content: center; align-items: center; flex-direction: column">
        <img src="{% static 'images/ecopoints_rainbow.png' %}" alt="Ecopoints Logo" />
          <hr />
      </div>
    {% endblock %}
  </body>
</html>