<!DOCTYPE html>
{% load staticfiles %}
{% load ecopoints_template_tags %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            ecopoints -
            {% block title_block %}
            {% endblock %}
        </title>
        {% load compress %}
        {% compress css %}

            <link rel="stylesheet" type="text/scss" href="{% static '/scss/custom.scss' %}">
        {% endcompress %}
        <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    </head>
    <body data-bs-theme="dark">
        <nav class="navbar bg-body-secondary">
            <div class="container container-fluid">
                <div>
                    <a class="navbar-brand me-5">
                        <img class="nav__logo" src="{% static 'images/ecopoints_rainbow.png' %}" alt="Ecopoints Logo" />
                    </a>
                    <a href="{% url 'ecopoints:insights' %}" class="me-3">Insights</a>
                    <a href="{% url 'ecopoints:dashboard' %}">Dashboard</a>
                </div>
                <button class="btn btn-primary d-flex" type="button">Search</button>
            </div>
        </nav>
        <div class="container">
            {% block body_block %}
                <div style="display: flex; justify-content: center; align-items: center; flex-direction: column">
                    <img src="{% static 'images/ecopoints_rainbow.png' %}" alt="Ecopoints Logo" />
                    <hr />
                </div>
            {% endblock %}
        </div>
        <div>
            {% block sidebar_block %}
            {% endblock %}
        </div>
        <hr />
        <div>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'ecopoints:insights' %}">Insights</a></li>
                    <li><a href="{% url 'auth_logout' %}?next={% url 'ecopoints:index' %}">Logout</a></li>
                {% else %}
                    <!---show when not logged in-->
                    <li><a href="{% url 'registration_register' %}">Register</a></li>
                    <li><a href="{% url 'auth_login' %}">Login</a></li>
                {% endif %}
                <!--always show-->
                <li><a href="{% url 'ecopoints:index' %}">Home</a></li>
                <li><a href="{% url 'ecopoints:about' %}">About</a></li>
            </ul>
        </div>
    </body>
</html>
