{% extends 'ecopoints/base.html' %}
{% load static %}

{% block title_block %}
    Dashboard
{% endblock %}

{% block body_block %}
    <h1 class="my-5">Dashboard</h1>
    <hr />
    <h2 class="my-3">Today's Tasks</h2>
    {% if completed_tasks_today %}
        <p>Today you have completed the following tasks:</p>
        <ul class="ep-list row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3">
            {% for task in completed_tasks_today %}
                <li>
                    <button
                        class="task-selector toast-task-button"
                        type="button"
                        data-task-id="{{ task.id }}"
                        data-task-name="{{ task.name }}"
                        data-bs-toggle="toast"
                        data-bs-target="#logTaskToast"
                    >
                        <span class="task-selector__counter">{{ task.counter }}</span>
                        {{ task.name }} | {{ task.score }} EP
                    </button>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no tasks completed today.</strong>
    {% endif %}
    <div class="mt-5">
        <p class="text-muted text-sm-center">We recommend at least 50 EcoPoints per day to reduce your carbon
            footprint!</p>
        <div class="score_bar">
            {% if finished %}
                <p class="score_bar__score">Well done! Total: {{ total_score_today }}
                    EP</p>
            {% else %}
                <p class="score_bar__score">{{ total_score_today }} EP / 50 EP</p>
            {% endif %}
            <span class="score_bar__progress-bar" data-score-total="{{ total_score_today }}"
                  aria-valuenow="{{ total_score_today }}"></span>
        </div>
    </div>
    <hr />
    <h2 class="my-3">Liked Categories</h2>
    {% if categories %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4 mb-5">
            {% for category in categories %}
                <div class="col">
                    <a class="card" href="{% url 'ecopoints:show_category' category.slug %}">
                        <img
                            src="{{ category.banner.url }}"
                            class="card-img-top"
                            alt="{{ category.name }} image"
                            style="max-height: 10rem; object-fit: cover; object-position: center;"
                        >
                        <div class="card-body">
                            <p class="card-text">{{ category.name }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <strong>There are no categories present.
            <a href="{% url 'ecopoints:categories' %}">View categories.</a>
        </strong>
    {% endif %}
    <hr />
    <h2 class="my-3">Recently Completed Tasks</h2>
    {% if recent_tasks %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4 mb-5">
            {% for task in recent_tasks %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ task.name }}</h5>
                            <h6>{{ task.category.name }} | {{ task.completed_at }}</h6>
                            <p class="card-text">{{ task.description }}</p>
                            <button
                                class="btn btn-primary toast-task-button"
                                type="button"
                                data-task-id="{{ task.id }}"
                                data-task-name="{{ task.name }}"
                                data-bs-toggle="toast"
                                data-bs-target="#logTaskToast"
                            >
                                Log again
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <strong>There are no recent tasks present.</strong>
    {% endif %}
    <div class="toast-container toast-container--top-center">
        <div id="logTaskToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body">
                <p>Log <span id="toast-task-name"></span> again?</p>
                <div class="mt-2 pt-2 border-top">
                    <form id="logTaskForm" method="POST" action="">
                        {% csrf_token %}
                        <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="toast">Cancel</button>
                        <button type="submit" class="btn btn-primary btn-sm">Confirm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
