{% extends 'ecopoints/base.html' %}
{% load staticfiles %}

{% block title_block %}
    insights
{% endblock %}
{% block body_block %}
    <img src="{% static 'images/ecopoints_rainbow.png' %}" alt="Ecopoints Logo" />
    {% if is_authenticated %}
        <h2>Daily Summary</h2>
        <p>You have earned <strong>{{ daily_points }}</strong> ecopoints today.</p>
        <h2>Weekly Summary</h2>
        <p>You have earned <strong>{{ weekly_points }}</strong> ecopoints this week.</p>
        <h2>Monthly Summary</h2>
        <p>You have earned <strong> {{ monthly_points }}</strong> ecopoints this month.</p>
    {% else %}
        <p>You are not logged in. Log in to see your insights.</p>
    {% endif %}
    <a href="{% url 'index' %}">Back to Home</a>
{% endblock %}
